.Toolbar {
  width: 100%;
  height: 68px;
  top: 0;
  left: 0;
  border-bottom: 4px solid #e88c35;
  background-color: #393939e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 90;
  box-sizing: border-box;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .Desktopview {
    display: none;
  }
}
